{% extends 'base.html.twig' %}
{# modifications HEAD #}
{% block title %} Profile Delete - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

{% block body %}
   <h2>Etes vous certain de vouloir supprimer votre profil ?</h2>
    {{ form(form) }}
{% endblock %}
