<html>
<head>
</head>
<body>

<p>Un visiteur ({{ message.internaute }}) vous a laissé un message: </p>

<div class="breadcrumb">
    <p>{{ message.message }}</p>
</div>

<p>Vous pouvez lui répondre par mail  <a href="mailto:{{ message.source }}">{{ message.source }}</a></p>

<p>Bien à vous.</p>

<p>L'equipe Annuaire Bien-être</p>
</body>
</html>