{% extends 'base.html.twig' %}

{% block document_title %}
    <div class="document-title">
        <h1>{% block document_title_h1 %}Zone Admin: Gestion des Prestataires {% endblock %}</h1>

        <ul class="breadcrumb">
            {% block document_title_list %}

            {% endblock %}
        </ul>


    </div><!-- /.document-title -->
{% endblock %}

{% block body %}

    <div class="background-white p20 mb50">
        <h2 class="page-title">Prestataires</h2>

        <table class="table table-striped mb0">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
                <th>S</th>
            </tr>
            </thead>

            <tbody>

            {% for provider in providers %}

                <tr {% if not provider.actif %} style="background-color: palevioletred; color: #FFFFFF" {% endif %}>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ provider.nom }}
                    </td>


                    <td>
                        <a href="{{ path('prestataire_detail',{'slug':provider.slug}) }}">
                            <i class="fa fa-eye" style="color: #000000;" aria-hidden="true"></i></a>
                        {% if provider.actif %}
                            <a href="{{ path('admin_prestataire_delete', {'slug': provider.slug}) }}">
                                <i class="fa fa-trash-o" style="color: #000000;" aria-hidden="true"></i></a>
                        {% else %}
                            <a href="{{ path('admin_prestataire_activate', {'slug': provider.slug}) }}">
                                <i class="fa fa-check-circle-o" style="color: #000000;" aria-hidden="true"></i> </a>
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-ban" aria-hidden="true"></i>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

