<div class="content-admin-footer">
    <div class="container-fluid">
        <div class="content-admin-footer-inner">
            &copy; 2019 Novitz Jean-Philippe.
        </div><!-- /.content-admin-footer-inner -->
    </div><!-- /.container-fluid -->
</div><!-- /.content-admin-footer  -->