{% set mcfly =  app.request.attributes.get('_route')  %}

<div class="sidebar-secondary-admin">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Configuration</span>
                <span class="subtitle">Gérer les paramètres</span>
            </a>
        </li>

        <li class="{% if mcfly == 'admin_prestataires_list' %}active{% endif %}">
            <a href="{{ path('admin_prestataires_list') }}">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="title">Prestataires </span>
                <span class="subtitle">Gestion des prestataires</span>
            </a>
        </li>

        <li class="{% if mcfly == 'admin_internautes_list' %}active{% endif %}">
            <a href="{{ path('admin_internautes_list') }}">
                <span class="icon"><i class="fa fa-users"></i></span>
                <span class="title">Internautes</span>
                <span class="subtitle">Gestion des internautes</span>
            </a>
        </li>
        <li class="{% if mcfly == 'admin_services_list' %}active{% endif %}">
            <a href="{{ path('admin_services_list') }}">
                <span class="icon"><i class="fa fa-medkit"></i></span>
                <span class="title">Services</span>
                <span class="subtitle">Services proposés</span>
            </a>
        </li>
        <li class="{% if mcfly == 'admin_promotions_list' %} active {% endif %}">
            <a href="{{ path('admin_promotions_list') }}">
                <span class="icon"><i class="fa fa-briefcase"></i></span>
                <span class="title">Promotions</span>
                <span class="subtitle">Promotions proposées</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-envelope"></i></span>
                <span class="title">Messages </span>
                <span class="subtitle">Messages recus</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-admin -->