{% set prestataires =  render(
    controller('AppBundle:Admin\\APrestataire:jsonList',
    { 'max': 10 }))|json_decode %}

{% set utilisateurs =  render(
    controller('AppBundle:Admin\\Internaute:jsonList',
    { 'max': 10 }))|json_decode %}

{% set services =  render(
    controller('AppBundle:Admin\\Categorie:jsonList',
    { 'max': 10 }))|json_decode %}

{% set promotions =  render(
    controller('AppBundle:Admin\\Promotion:jsonList',
    { 'max': 10 }))|json_decode %}


<!DOCTYPE html>
<html lang="fr">

<head>

    {% include'_partials/_admin/_head-meta.html.twig' %}
    {# toutes les balises meta  generales se trouvent dans le fichier _head-meta.html.twig C'est dans ce fichier qu'il faudra aller pour modificer les balises style #}
    <title> {% block title %} ADMIN BASE  {% endblock %} - Annuaire Wellness </title>

</head>

<body>

<div class="page-wrapper">
    {# haut de page contien le logo les liens vers reseaux sociaux et menu #}
    {% include '_partials/_admin/_header.html.twig' %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                {# removed menu here <!--  /.sidebar-admin-->#}
                {% include '_partials/_admin/_sidebar-secondary-admin.html.twig' %}
                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% block document_title %}
                                                 <div class="dd">
                                                     <h2>{% block document_title_h1 %}Titre de la page {% endblock %}</h2>

                                                     <ul class="breadcrumb">
                                                         {% block document_title_list %}
                                                             <li><a href="#">un lien</a></li>
                                                             <li><a href="#">un autre lien</a></li>
                                                         {% endblock %}
                                                     </ul>
                                                 </div><!-- /.document-title -->
                                            {% endblock %}

                                            {# bloc message Flash à mettre dans un include vers fichier externe #}
                                            {% block messagesFlash %}
                                                {% for flash_message in app.session.flashBag.get('succes') %}
                                                    <div class="alert alert-icon alert-success" role="alert">
                                                        {{ flash_message }}
                                                    </div>
                                                {% endfor %}
                                                {% for flash_message in app.session.flashBag.get('error') %}
                                                    <div class="alert alert-icon alert-danger" role="alert">
                                                        {{ flash_message }}
                                                    </div>
                                                {% endfor %}
                                                {% for flash_message in app.session.flashBag.get('info') %}
                                                    <div class="alert alert-icon alert-info" role="alert">
                                                        {{ flash_message }}
                                                    </div>
                                                {% endfor %}

                                            {% endblock %}
                                            {# fin de block a refactorer et déplacer #}

                                            {% block body %}

                                            {% endblock %}
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row-* -->
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->
                        {# pied de page #}
                        {% include '_partials/_admin/_footer.html.twig' %}
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->
</div><!-- /.page-wrapper -->
{# c'est ici qu'il faudra aller pour modifier les fichiers javascripts #}
{% include '_partials/_scripts.html.twig' %}
</body>
</html>
