{% extends 'base.html.twig' %}
{# modifications HEAD #}
{% block title %} Detail du prestataire - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

{% block body %}

    <div class="page-header">
        <h1>About </h1>
        <p>
            Projet <strong>"Bien-être"</strong> à l'Institut Saint-Laurent de Liège
            <br>
            Tout ce qui suit n'est que du Lipsum

        </p>
        <p>
            Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac
            diam
            sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.
        </p>
        <p>
            Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et,
            porttitor at sem. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
            /p>
        <p>
            Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis
            a
            pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.
        </p>
        <p>
            Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id
            imperdiet et,
            porttitor at sem. Curabitur aliquet quam id dui posuere blandit.
        </p>
        <p>
            Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Pellentesque in
            ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada.
        </p>
    </div>

{% endblock %}
