{% extends 'base.html.twig' %}

{# modifications HEAD #}
{% block title %} Accueil Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}

 {% block document_title %}

 {% endblock %}

{% block body %}

    {{ render(controller('AppBundle:Admin/Slider:view')) }}

    <div class="row">
        <div class="col-sm-9 col-lg-9">
            <div class="content">
                <div class="cards-row">
                    {{ render(url('prestataire_search_form')) }}  {# formulaire pour la recheche d'un prestataire #}

                    {{ render(controller("AppBundle:Prestataire/Prestataire:last", {},{'n':4, 'view':'grid'})) }}


                    {% if is_granted('ROLE_INTERNAUTE') %}
                        <h2>Récement ajouté à vos favoris: </h2>
                        {{ render(controller("AppBundle:Profile/Favoris:last")) }}
                    {% endif %}
                </div><!-- /.cards-row -->
            </div><!-- /.content -->
        </div><!-- /.col-* -->
        <div class="col-sm-3 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <h2 class="widgettitle">Services</h2>

                    {{ render(controller("AppBundle:Service/Service:widgetList", {},{ 'max': 10, 'class':'menu' })) }}

                </div><!-- /.sidebar -->
            </div><!-- /.widget -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->



{% endblock %}
