{% embed '_layouts/grille.html.twig'  with {entites: services} %}


    {# modifications HEAD #}  {% block title %} Liste des services - grille {% endblock %}  {# fin modifications HEAD #}

    {# document title#}

    {% block document_title_h1 %}{{ parent() }} services {% endblock %}

    {# end document title#}
    {% block body %}
        {{ parent() }}
{% block boucle %}

         {% for key in 1..entites|length-1 %}
            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="card-simple"
                     data-background-image=" {% block cadre_background %} {{ entites[key].image.url }} {% endblock %}">

                    <div class="card-simple-background">
                        <div class="card-simple-content">
                            <h2>
                                <a href="listing-detail.html">{% block cadre_centre %}{{ entites[key].nom }} {% endblock %}</a>
                            </h2>
                            <div class="card-simple-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-star-o"></a>
                                <a href="listing-detail.html" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">{% block cadre_haut %} {% endblock %}</div>

                        <div class="card-simple-price">{% block cadre_bas %}{% endblock %}</div>

                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->


            </div><!-- /.col-* -->
        {%  endfor %}
    {% endblock %}
    {% endblock %}
{% endembed %}
