<h2 id="reviews">Commentaires</h2>
<div class="reviews">

    {% if commentaires is not empty %}
        {% for commentaire in commentaires %}
            <div class="review">
                <div class="review-image">
                    <img src="assets/img/tmp/agent-1.jpg" alt="">
                </div><!-- /.review-image -->

                <div class="review-inner">
                    <div class="review-title">
                        <h2>{{ commentaire.internaute.username }}</h2>

                        <span class="report">
                    <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip"
                                                             data-placement="top"></i>
                </span>

                        <div class="review-overall-rating">
                            <span class="overall-rating-title">Son évaluation:</span>

                            {% for i in 1..5 %}
                                {% if loop.index <= commentaire.cote %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                            {% endfor %}

                        </div><!-- /.review-rating -->
                    </div><!-- /.review-title -->

                    <div class="review-content-wrapper">
                        <div class="review-content">
                            <div class="review-pros">
                                <p><strong>{{ commentaire.titre }}</strong>
                                    <br />{{ commentaire.contenu }}</p>
                            </div><!-- /.pros -->
                        </div><!-- /.review-content -->


                    </div><!-- /.review-content-wrapper -->

                </div><!-- /.review-inner -->
            </div><!-- /.review -->
        {% endfor %}

    {% else %}
        <h3><em>Aucun commentaire</em></h3>
    {% endif %}
</div> <!-- /.reviews -->

