{# bloc affichage de la liste de prestataires sous forme de grille
## Il n'y a que le code html de l'affichage de la liste
##  - pas de mise en forme de la page
##  - pas de menu
##   to do: mettre plus de code html dans le template pour alleger cette page (si possible #}
{% if sm is not defined %} {% set sm=12 %} {% endif %}
{% if md is not defined %} {% set md=3 %} {% endif %}
{% if lg is not defined %} {% set lg=3 %} {% endif %}
{% for prestataire in prestataires %}
    <div class="col-sm-{{ sm }} col-md-{{ md }} col-lg-{{ lg }}">

        <div class="card-simple"

             data-background-image="
                {% block cadre_background %}
                {% if prestataire.logos is not empty %}
                        {{ prestataire.logos[0].url }}
                        {% else %}
                        {{ asset('assets/img/tmp/no-photo.jpg') }}
                    {% endif %}
                {% endblock %}">

            <div class="card-simple-background">
                <div class="card-simple-content">
                    <h2>
                        <a href="{{ path('prestataire_detail',{'slug':prestataire.slug}) }}">{% block cadre_centre %}{{ prestataire.nom }} {% endblock %}</a>
                    </h2>
                    <div class="card-simple-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div><!-- /.card-rating -->

                    <div class="card-simple-actions">
                        <a href="#" class="fa fa-star-o"></a>
                        <a href="listing-detail.html" class="fa fa-search"></a>
                        <a href="#" class="fa fa-heart-o"></a>
                    </div><!-- /.card-simple-actions -->
                </div><!-- /.card-simple-content -->

                {% if prestataire.localite is not empty %}
                    <div class="card-simple-label">{% block cadre_haut %} {{ prestataire.localite.commune }}{% endblock %}</div>
                {% endif %}
                {% if prestataire.tel is not empty %}
                    <div class="card-simple-price">{% block cadre_bas %}{{ prestataire.tel }}{% endblock %}</div>
                {% endif %}

            </div><!-- /.card-simple-background -->
        </div><!-- /.card-simple -->


    </div><!-- /.col-* -->

{% endfor %}