
<li>
    <a href="{{ path('prestataires_list') }}">Prestataires <i class="fa fa-chevron-down"></i></a>
    <ul class="{{ class }}">
        {% for prestataire in prestataires %}
            <li><a href="{{ path('prestataire_detail', {'slug':prestataire.slug}) }}">{{ prestataire.nom }}</a></li>
        {% endfor %}
        <li><a href="{{ path('prestataires_list') }}"> >> plus << </a></li>
    </ul>
</li>

<li>
    <a href="{{ path('services_list') }}">Service <i class="fa fa-chevron-down"></i></a>
    <ul class="{{ class }}">
        {% for service in services %}
            <li><a href="{{ path('service_detail', {'slug':service.slug}) }}">{{ service.nom }}</a></li>
        {% endfor %}
        <li><a href="{{ path('services_list') }}"> >> plus << </a></li>
    </ul>
</li>
<li>
    <a href="{{ path('stages_list') }}">Stages <i class="fa fa-chevron-down"></i></a>
    <ul class="{{ class }}">
        {% for stage in stages %}
            <li><a href="{{ path('stage_detail', {'slug':stage.slug}) }}">{{ stage.nom }}</a></li>
        {% endfor %}
        <li><a href="{{ path('stages_list') }}"> >> plus << </a></li>
    </ul>
</li>
<li>
    <a href="{{ path('promos_list') }}">Promos <i class="fa fa-chevron-down"></i></a>
    <ul class="{{ class }}">
        {% for promo in promos %}
            <li><a href="{{ path('promo_detail', {'slug':promo.slug}) }}">{{ promo.nom }}</a></li>
        {% endfor %}
        <li><a href="{{ path('promos_list') }}"> >> plus << </a></li>
    </ul>
</li>

