<div class="header-search">
    {{ form_start(formLite) }}
    {{ form_widget(formLite.search, {'attr': {'placeholder': 'Recherche' ,'class': 'form-control'}})}}
    {{ form_end(formLite) }}
</div><!-- /.header-search -->