{% extends 'base.html.twig' %}
{# modifications HEAD #}
{% block title %} Stage Delete - Annuaire Wellness {% endblock %}
{# fin modifications HEAD #}
{% block document_title %}
    <div class="document-title">
        <h1>{% block document_title_h1 %}! Suppresion d'un stage !{% endblock %}</h1>
    </div>
{% endblock %}
    {% block body %}

        <h2>Vous êtes sur le point de supprimer un stage.</h2>
        <p>{{ stage.nom }}
            <br/>{{ stage.info }}
            <br/>{{ stage.description }}
        </p>
        {{ form(form) }}
    {% endblock %}
