
<div class="document-title">
    <h1>{% block document_title_h1 %}Titre de la page {% endblock %}</h1>

    <ul class="breadcrumb">
        {% block document_title_list %}
            <li><a href="#">un lien</a></li>
            <li><a href="#">un autre lien</a></li>
        {% endblock %}
    </ul>
</div><!-- /.document-title -->

