<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Annuaire Bien-être</h2>

                    <p>Annuaire Bien être est un projet réalisé par un étudiant à <a href="https://www.isl.be/" title="https://www.isl.be/"> ISLWeb </a>pour la section
                        <a href="https://www.isl.be/portfolio_item/formation-liege-web-developer-webmaster/" > web developer </a> </p>
                </div><!-- /.col-* -->

                <div class="col-sm-4">
                    <h2>Contact Information</h2>

                    <p>
                        Novitz Jean-Philippe <br />
                        Saint-Nicolas (Liège) <br />
                        Email: <a href="mailto:hello@wellness360.be">hello@wellness360.be</a> <br />
                    </p>
                        @jphNovitz on
                        <ul>
                            <li><a href="https://www.facebook.com/jphNovitz/"> Facebook </a></li>
                            <li><a href="https://twitter.com/jphNovitz"> Twitter </a> </li>
                            <li><a href="https://github.com/jphNovitz"> Github </a></li>
                        </ul>

                </div><!-- /.col-* -->

                <div class="col-sm-4">
                    <h2>Reseaux Sociaux</h2>

                    <ul class="social-links nav nav-pills">
                        <!-- <li><a href="https://twitter.com/isl_wellness"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.facebook.com/wellness360.be"><i class="fa fa-facebook"> </i></a></li>
                        <li><a href="https://instagram.com/wellness_360_be"><i class="fa fa-instagram"> </i></a></li>
                    </ul><!-- /.header-nav-social -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2016-2019 Codeur: <a href="https://github.com/jphNovitz">JphNovitz </a> <br />... Theme Created by <a href="#">Aviators</a>.
            </div><!-- /.footer-bottom-left -->

            <div class="footer-bottom-right">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                    <li><a href="contact-1.html">Contact</a></li>
                </ul><!-- /.nav -->
            </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->
