


<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Annuaire Bien-être</h2>

                    <p>Annuaire Bien être est un projet ISLWeb <br />basé sur le theme Superlist</p>
                </div><!-- /.col-* -->

                <div class="col-sm-4">
                    <h2>Contact Information</h2>

                    <p>
                        Institut Saint-Laurent <a href="#">hello@jiphi.be</a>
                    </p>
                </div><!-- /.col-* -->

                <div class="col-sm-4">
                    <h2>Reseaux Sociaux</h2>

                    <ul class="social-links nav nav-pills">
                        <!-- <li><a href="https://twitter.com/isl_wellness"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.facebook.com/wellness360.be"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://instagram.com/wellness_360_be"><i class="fa fa-instagram"></i></a></li>
                    </ul><!-- /.header-nav-social -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2016 Coded By <a href="">JPhi</a>... Theme Created by <a href="#">Aviators</a>.
            </div><!-- /.footer-bottom-left -->

            <div class="footer-bottom-right">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                    <li><a href="contact-1.html">Contact</a></li>
                </ul><!-- /.nav -->
            </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->
