<header class="header">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="wellness 360">
                        <span>Wellness 360</span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
                    <div class="header-top">
                        {# petit champs de recherche dans le coin droit #}
                        {{ render(controller("AppBundle:Prestataire/Search:searchLite")) }}

                        <ul class="header-nav-social social-links nav nav-pills">
                           <!-- <li><a href="https://twitter.com/isl_wellness"><i class="fa fa-twitter"></i></a></li>-->
                            <li><a href="https://www.facebook.com/wellness360.be"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://instagram.com/wellness_360_be"><i class="fa fa-instagram"></i></a></li>
                        </ul><!-- /.header-nav-social -->

                        <ul class="header-nav-secondary nav nav-pills">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('logout') }}"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a></li>
                                <li> Connecté en tant que  {{ app.user.username }} </li>

                            {% else %}
                                <li><a href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                                <li><a href="{{ path('registration') }}"> Internaute</a></li>
                                <li><a href="{{ path('registration', {'type':"prestataire"}) }}"> Prestataire</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.header-top -->

                    <div class="header-bottom">
                        <div class="header-action">
                            <a href="listing-submit.html" class="header-action-inner" title="Add Listing"
                               data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-plus"></i>
                            </a><!-- /.header-action-inner -->
                        </div><!-- /.header-action -->

                        {% include '_partials/menu/_menu.html.twig' %}

                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                data-target=".header-nav-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->
