{% extends 'base.html.twig' %}

{% block document_title %}
    <div class="document-title">
        <h1>{% block document_title_h1 %}Zone Admin: Gestion des {{ type }} {% endblock %}</h1>

        <ul class="breadcrumb">
            {% block document_title_list %}

            {% endblock %}
        </ul>


    </div><!-- /.document-title -->
{% endblock %}

{% block body %}

    <div class="background-white p20 mb50">
        <h2 class="page-title">Prestataires</h2>

        <table class="table table-striped mb0">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
                <th>S</th>
            </tr>
            </thead>

            <tbody>

            {% for user in users %}

                <tr {% if not user.actif %} style="background-color: palevioletred; color: #FFFFFF" {% endif %}>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.nom }}
                    </td>


                    <td>
                        <a href="{{ path('profile_detail',{'slug':user.slug}) }}">
                            <i class="fa fa-eye"  style="color: #000000;" aria-hidden="true"></i></a>
                        {% if user.actif %}
                        <a href="{{ path('admin_internaute_delete', {'slug': user.slug}) }}">
                            <i class="fa fa-trash-o" style="color: #000000;" aria-hidden="true"></i></a>
                        {% else %}<a href="{{ path('admin_internaute_activate', {'slug': user.slug}) }}">
                            <i class="fa fa-check-circle-o" style="color: #000000;" aria-hidden="true"></i> </a>
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-ban" aria-hidden="true"></i>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

