<div class="card-row-inner">


    <div class="card-row-image" data-background-image="">
        <div class="card-row-label"><a href="listing-detail.html">Vacation</a></div>
        <!-- /.card-row-label -->

        <div class="card-row-price">$100 / night</div><!-- -->

    </div><!-- /.card-row-image -->

    <div class="card-row-body">
        <h2 class="card-row-title"><a href="rrr">aaa></a></h2>
        <div class="card-row-content">


            <br/>


        </div>
    </div>

</div>


